<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <div class="p-4">
    <h1 class="text-3xl font-bold">About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis fringilla augue. Proin ante turpis, dapibus ut dui et, dignissim.</p>
  </div>
  </body>
</html>
