<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bang keren</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <div class="p-4">
    <h1 class="text-3xl font-bold">Hello {{ name }}</h1>
    <ul class="list-disc ml-4">
    {% for user in users %}
      <li class="text-lg">{{ user.email }}</li>
    {% endfor %}
    </ul>
  </div>
  </body>
</html>
